body {
    font-family: 'Titillium Web';
}

.white {
    color: white;
}

.fixwidth {
    margin: 0;
}

.fix-bars {
    margin-top: 100px;
    margin-bottom: 100px;
}

.fix-bars-hard {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 100px;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

ul.nav a {
    color: white;
    font-size: 16px;
}

ul.dropdown-menu {
    background-color: rgba(0,0,0,0.2);
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(0,0,0,0.2);
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: rgba(0,0,0,0.2);
}

.container-height-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.background {
    height: 100vh;
    background: rgba(0, 0, 0, 0.3) url('cityscape-day.jpg');
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    z-index: -999;
    margin: 0;
    padding: 0;
}

.main-section {
    height: 100vh;
    background-size: cover;
    padding: 0;
}

.dark-background-panel {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

.player-panel {
    background: rgba(255,255,255,0.2);
    padding: 10px;
    font-stretch: ultra-condensed;
    color: white;
}

.top-bar {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.bottom-bar {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 100px;
    padding: 10px 0;
}

.smallplay {
    font-size: 40px;
}

.album-cover {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
}



.logo-lg img {
    margin-top: -5%;
    width: 100%
}

.logo-xs img {
    margin-top: -10%;
    width: 100%
}

/* some font declarations for player panel */
.nowplaying {
    font-size: 2vw;
}

.big-album {
    font-size: 1.5vw;
    font-style: italic;
}

.big-album-pre {
    font-size: 1.5vw;
}

.big-track {
    font-size: 3vw;
}

.big-artist {
    font-size: 3.5vw;
    font-weight: 600;
}

.big-presenter {
    font-size: 2vw;
    font-style: italic;
}

.player {
    height: 100%;
    font-size: 3vw;
}

.album-prev {
    height: 80px;
    width: 80px;
    background-size: cover;
    float: left;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .container-height-25 {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height */

.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}
/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}