<div class="row fix-topbar">
    <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 bodytext">
        <h1>404 Not Found :(</h1>
        <p>This is not the page you're looking for, unless you actually are looking for our 404 page. In which case, YOU GOT IT!</p>
    </div>
</div>