<div class="row vertical-align hidden-xs fixwidth row-eq-height">
    <div class="player-container col-md-3 col-sm-4 col-md-offset-1">
        <div class="album-cover" style="background-image: url('/nocover.jpg')"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-md-offset-1 col-sm-offset-1 player-panel">
        <div style="height: 15%">
            <div class="nowplaying ">Now Playing:</div>
        </div>
        <div style="height: 60%; position: absolute;">
            <div style="display: table-row" class="big-artist artist">Loading Metadata <br>from Stream</div>
            <div style="display: table-row" class="big-track track"></div>
            <div><span class="big-album-pre"></span><span class="big-album album"></span></div>
            <div><span class="big-pre-presenter"></span><span class="big-presenter presenter"></span></div>
        </div>
        <div style="position: absolute; bottom: 0; border-top: 1px solid white; width: 95%">
            <div class="player"><a href="#" onclick="startRadio()" class="glyphicon glyphicon-play playradio radiobutton no-ajaxy"></a><a href="#" onclick="stopRadio()" class="glyphicon glyphicon-stop stopradio radiobutton no-ajaxy" style="display: none"></a></div>
        </div>
    </div>
</div>
<div class="row vertical-align mobile-fix-bars hidden-sm hidden-md hidden-lg fixwidth">
    <div class="album-cover" style="background-image: url('/nocover.jpg')"></div>
</div>