<div class="hidden-xs col-lg-1 col-lg-offset-2">
    <a href="#" onclick="startRadio()" class="glyphicon glyphicon-play playradio smallplay radiobutton no-ajaxy"></a><a href="#" onclick="stopRadio()" class="glyphicon glyphicon-stop stopradio smallplay radiobutton no-ajaxy" style="display: none"></a>
</div>
<div class="hidden-xs col-lg-6 playbar-text">
    <span class="artist"></span><br>
    <span class="track"></span>
</div>
<div class="col-xs-1 hidden-sm hidden-md hidden-lg">
    <a href="#" onclick="startRadio()" class="glyphicon glyphicon-play playradio smallplay radiobutton no-ajaxy"></a><a href="#" onclick="stopRadio()" class="glyphicon glyphicon-stop stopradio smallplay radiobutton no-ajaxy" style="display: none"></a>
</div>
<div class="col-xs-10 hidden-sm hidden-md hidden-lg playbar-text-mobile">
    <span class="artist"></span><br>
    <span class="track"></span>
</div>