<div class="col-lg-2 col-lg-offset-2 hidden-xs">
    <h3>Recently Played:</h3>
</div>
<div class="col-lg-2 hidden-xs">
    <div id="album-one" class="album-prev"></div>
    <div id="album-one-text">
        <span class="glyphicon glyphicon-user"></span> <span id="album-one-artist"></span><br>
        <span class="glyphicon glyphicon-music"></span> <span id="album-one-title"></span>
    </div>
</div>
<div class="col-lg-2 hidden-xs">
    <div id="album-two" class="album-prev"></div>
    <div id="album-two-text">
        <span class="glyphicon glyphicon-user"></span> <span id="album-two-artist"></span><br>
        <span class="glyphicon glyphicon-music"></span> <span id="album-two-title"></span>
    </div>
</div>
<div class="col-lg-2 hidden-xs">
    <div id="album-three" class="album-prev"></div>
    <div id="album-three-text">
        <span class="glyphicon glyphicon-user"></span> <span id="album-three-artist"></span><br>
        <span class="glyphicon glyphicon-music"></span> <span id="album-three-title"></span>
    </div>
</div>
<!--MOBILE-->
<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
    <a href="#" onclick="startRadio()" class="glyphicon glyphicon-play playradio smallplay radiobutton no-ajaxy"></a><a href="#" onclick="stopRadio()" class="glyphicon glyphicon-stop stopradio smallplay radiobutton no-ajaxy" style="display: none"></a>
</div>
<div class="col-xs-10 hidden-sm hidden-md hidden-lg playbar-text-mobile">
    <span class="artist"></span><br>
    <span class="track"></span>
</div>