<div class="row fixwidth">
    <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 bodytext">
        <h1>About Our Staff</h1>
        <h3>WestJ</h3>
        <p>WestJ is one of the original founders of Fillydelphia Radio. Managing everything from the playlists, to staff, to technical and the website, WestJ pretty much handles all of Fillydelphia Radio's runnings.</p>
        <h3>Nexus</h3>
        <p>Once almost as active as WestJ, Nexus is currently in hiatus. Nexus is the other founder of Fillydelphia Radio. Nexus usually stands in for WestJ when the latter goes on hiatus.</p>
        <h3>Dusk</h3>
        <p>An old staff member, Dusk now manages our chats. He was once a DJ on air, but now runs Ponyville Live.</p>
        <h3>Cra2y</h3>
        <p>Cra2y is another old staff member, joining in 2012. WestJ's go-to for emergency station stuff, such as emergency broadcasting servers and website hosting.</p>
        <h3>Ossy</h3>
        <p>Yet another old staff member, Ossy continues to run his show under the name "DJ BeatBreaker". Active since 2013, this DJ was picked up after WestJ heard one of his sets on SoundCloud.</p>
        <h3>Jackal V</h3>
        <p>A new staff member who's shows will be starting soon!</p>
        <h3>You!</h3>
        <p>Interested in broadcasting on Fillydelphia Radio? Check out how you can help <a href="/volunteer">here</a></p>
    </div>
</div>